@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin:wght@100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Variables CSS */
:root {
    --font-primary: 'Roboto', sans-serif;
    --color-bg: #1e1e1e;
    --color-text: #d4d4d4;
    --color-header-bg: #007acc;
    --color-header-text: #fff;
    --color-reto-bg: #252526;
    --color-h2: #569cd6;
    --color-hover-bg: #005f7f;
    --color-output-bg: #e2e2e2;
    --color-output-text: #333;
    --color-list: #444;
    --color-instructions: #555;
    --font-size-large: 2.5rem;
    --font-size-medium: 1.8rem;
    --font-size-small: 1.2rem;
    --font-size-xsmall: 1rem;
    --font-size-xxsmall: 14px;
}

/* Configuración general */
body {
    font-family: var(--font-primary);
    background-color: var(--color-bg);
    color: var(--color-text);
    margin: 0;
    padding: 0;
    height: 100vh;
}
/**/
html {
    scroll-behavior: smooth;

}

/* Estilos para el encabezado */
header {
    background-color: var(--color-header-bg);
    color: var(--color-header-text);
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.header-container {
    max-width: 1200px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centra el contenedor */
}

header h1 {
    margin: 0;
    font-size: var(--font-size-large);
}
/* Estilos de navegación */
nav {
    margin-top: 15px; /* Espacio entre el título y el menú de navegación */
}

.nav-links {
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0; /* Elimina el padding */
}

.nav-links li {
    display: inline; /* Muestra los elementos de la lista en línea */
    margin: 0 15px; /* Espacio entre los enlaces */
}

.nav-links a {
    color: var(--color-header-text); /* Color del texto del enlace */
    text-decoration: none; /* Elimina subrayado */
    font-weight: bold; /* Hace el texto más grueso */
    transition: color 0.3s; /* Transición suave para el color */
}

.nav-links a:hover {
    color: var(--color-hover-bg); /* Color al pasar el mouse */
}

/* Estilos para el contenido principal */
main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Estilos para cada sección del reto */
.reto {
    background-color: var(--color-reto-bg);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin: 30px auto;
    padding: 20px;
    transition: box-shadow 0.5s;
}

.reto:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.reto h2 {
    border-bottom: 2px solid var(--color-header-bg);
    padding-bottom: 10px;
    margin-bottom: 15px;
    font-size: var(--font-size-medium);
    color: var(--color-h2);
}

.reto p, .reto li {
    font-size: var(--font-size-small);
    line-height: 1.6;
    color: var(--color-text);
}

/* Estilos para el código */
.reto pre {
    background-color: var(--color-bg);
    border-radius: 4px;
    padding: 15px;
    overflow-x: auto; 
    font-size: var(--font-size-xsmall);
    margin-top: 15px;
    white-space: pre-wrap; 
    word-wrap: break-word; 
}

.reto code {
    color: #dcdcdc;
    font-family: 'Consolas', 'Courier New', monospace;
}

/* Resaltado de sintaxis */
.reto code .keyword {
    color: var(--color-h2);
}

.reto code .string {
    color: #ce9178;
}

.reto code .number {
    color: #b5cea8;
}

.reto code .operator {
    color: var(--color-text);
}

/* Estilos para el pie de página */
footer {
    background-color: var(--color-header-bg);
    color: var(--color-header-text);
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    border-top: 2px solid var(--color-h2); /* Línea superior */
}

footer p {
    margin: 5px 0; /* Espaciado entre párrafos */
}

footer span {
    font-weight: bold; /* Negrita para el nombre */
}

footer .social-links {
    margin-top: 10px; /* Espacio entre los párrafos y los enlaces sociales */
}

footer .social-links a {
    color: var(--color-header-text);
    text-decoration: none;
    margin: 0 10px; /* Espacio entre los íconos */
    font-size: 1.5rem; /* Tamaño de los íconos */
    transition: color 0.3s; /* Transición para el cambio de color */
}

footer .social-links a:hover {
    color: #d4d4d4; /* Color al pasar el mouse */
}

.reto button {
    background-color: var(--color-header-bg);
    color: var(--color-header-text);
    border: none;
    padding: 10px 20px;
    font-size: var(--font-size-small);
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.reto button:hover {
    background-color: var(--color-hover-bg);
}


/* Glitter día 4 */
#glitterCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
}

.hidden {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

/* Día 5 */
#dia-5 .h2 {
    font-size: 24px;
    text-align: center;
    color: #333;
    margin-bottom: 15px;
}

.intructions {
    margin-bottom: 20px;
}

.intructions h3 {
    font-size: 30px;
    color: var(--color-instructions);
}

.intructions ol {
    padding-left: 20px;
    color: var(--color-list);
}

.startDia5 {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    color: #fff;
    background-color: var(--color-header-bg);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.output-container {
    margin-top: 20px;
    padding: 15px;
    background-color: var(--color-output-bg);
    border-radius: 5px;
    color: var(--color-output-text);
    font-size: 16px;
    line-height: 1.5;
}

.output-container p {
    color: var(--color-reto-bg);
}




/* Estilos responsivos */
@media (max-width: 768px) {
    body {
        font-size: var(--font-size-xxsmall);
    }
    header {
        padding: 15px; /* Reduce el padding en pantallas más pequeñas */
    }



    header h1 {
        font-size: 1.8rem; /* Reduce el tamaño de la fuente */
    }

    nav {
        margin-top: 10px; /* Reduce el margen superior */
    }

    .nav-links {
        display: flex; /* Cambia a flexbox para una mejor disposición */
        flex-direction:row; /* Alinea los elementos en una fila */
        align-items: center; /* Centra los elementos */
        justify-content: center; /* Centra los elementos horizontalmente */

    }

    .nav-links li {
        margin: 0 10px; /* Reduce el margen entre los elementos */
    }


    .reto {
        padding: 15px;
    }

    .reto code {
        font-size: 0.8rem;
    }

    .reto h2 {
        font-size: 1.5rem;
    }

    li, p {
        font-size: 1rem;
    }
}
footer {
    padding: 15px; /* Reduce el padding en pantallas más pequeñas */
}

footer .social-links a {
    margin: 0 5px; /* Reduce el espacio entre íconos */
    font-size: 1.2rem; /* Tamaño de los íconos más pequeño */
}


@media (max-width: 480px) {
    body {
        font-size: 12px;
    }
    header {
        padding: 10px; /* Reduce aún más el padding */
    }

    header h1 {
        font-size: 1.5rem; /* Tamaño de fuente más pequeño */
    }
    .nav-links {
        padding: 0; /* Elimina el padding en dispositivos muy pequeños */
    }

    .reto {
        padding: 10px;
    }

    .reto h2 {
        font-size: 1rem;
    }
    footer {
        padding: 10px; /* Padding aún más pequeño en pantallas muy pequeñas */
    }

    footer .social-links a {
        font-size: 1rem; /* Tamaño de íconos más pequeño */
    }
}

