@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin:wght@100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Configuración general */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #1e1e1e;
    color: #d4d4d4;
    margin: 0;
    padding: 0;
    height: 100vh;
    
}

/* Estilos para el encabezado */
header {
    background-color: #007acc;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

/* Estilos para el contenido principal */
main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Estilos para cada sección del reto */
.reto {
    background-color: #252526;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin: 30px auto;
    padding: 20px;
}

.reto:hover{
    transition: 0.5s;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}
 




.reto h2 {
    border-bottom: 2px solid #007acc;
    padding-bottom: 10px;
    margin-bottom: 15px;
    font-size: 1.8rem;
    color: #569cd6;
}


.reto p, .reto li {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #d4d4d4;
}

/* Estilos para el código */
.reto pre {
    background-color: #1e1e1e;
    border-radius: 4px;
    padding: 15px;
    overflow-x: auto; /* Permite el desplazamiento horizontal si es necesario */
    font-size: 1rem;
    margin-top: 15px;
    white-space: pre-wrap; /* Permite que las líneas largas se envuelvan */
    word-wrap: break-word; /* Rompe las palabras largas si es necesario */
}

.reto code {
    color: #dcdcdc;
    font-family: 'Consolas', 'Courier New', monospace;
    display: flexbox;
}

/* Resaltado de sintaxis */
.reto code .keyword {
    color: #569cd6;
}

.reto code .string {
    color: #ce9178;
}

.reto code .number {
    color: #b5cea8;
}

.reto code .operator {
    color: #d4d4d4;
}
#dia2 {
    cursor: pointer;
}
#dia2 {
    transition: all 0.5s ease-in-out;
  }
  
  #dia2.active {
    color: #007acc;
    transform: scale(1.1rem);
  }

/* Estilos para el pie de página */
footer {
    background-color: #007acc;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
footer a {
    color: #fff;
    text-decoration: none;
}

footer span {
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
}
footer span:hover {
    color: #050606;
}

.reto button {
    background-color: #007acc;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}
.reto button:hover {
    background-color: #005f7f;
}


/* glitter dia 4 */
#glitterCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
}

.hidden {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
  }
  



/* Estilos responsivos */
@media (max-width: 768px) {
    body {
        font-size: 14px;
    }

    header h1 {
        font-size: 2rem;
    }

    .reto {
        padding: 15px;
        
    }
    .reto code {
        font-size: 0.8rem;
    }

    .reto h2 {
        font-size: 1.5rem;
    }

    .reto button { // mejora visual al centrarlo en mobile
     margin-left: auto;
     margin-right: auto;
     }
}
@media (max-width: 480px) {
    body {
        font-size: 12px;
    }

    header h1 {
        font-size: 1.2rem;
    }

    .reto {
        padding: 10px;
    }

    .reto h2 {
        font-size: 1rem;
    }
}

